<h1>Bienvenido a mi Tienda Online</h1>
<p>{{message}}</p>
<p>
    Todo está listo para funcionar. Haz clic en el siguiente enlace para empezar a explorar nuestros productos.
</p>
<a href="/realtimeproducts">Ir a la lista de productos</a>